@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

body {
  font-family: Poppins, sans-serif;
  background-color: rgb(241, 241, 241); 
  
}

.text-main {
  color: #1daba2 !important;
}

.bg-main {
  background-color: #1daba2 !important;
}

.btn-main {
  background-color: #1daba2 !important;
  color: white;
}

.bg-main-light {
  background-color: #E0F2F1;
  ;
}

.nav-link {
  font-weight: 700 !important;
  color: black !important;
}

.btn-main:hover,
.btn-main-outline:hover {
  background-color: #1b948d !important;
  color: white !important;
}

.sanetize-block li {
  list-style: none;
}

.sanetize-block li::before {
  content: "\2022";
  color: #1b948d !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.how-it-works-icon {
  font-size: 50px;
  color: #1daba2 !important;
}

.btn-main-outline {

  color: #1daba2;
  border-color: #1daba2;

}

.underline::after {
  content: '';
  display: block;
  height: 5px;
  width: 50px;
  background: #1b948d !important;
}

.icon-thumb-style {
  background: #f2f2f2;
  border: 2px solid white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  height: 50px;
  width: 50px;
}

.transition {
  transition: all 0.5s;
}

.hidden-why {
  width: 0px;
  height: 0px;
  color: #e6f8f9;
  display: none;
}

.why-container:hover {
  background: white;
}

.why-container:hover .hidden-why {

  width: auto;
  height: auto;
  color: black;
  display: block;

}

section {
  width: 100%;

  overflow: hidden;
}